<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Dashboard</title>
  </head>

  <body>
    <div>
      <h1>Admin - Dashboard All User Notes</h1>
      <% if (allNotes && allNotes.length> 0){%>
      <table border="1">
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Title</th>
          <th>Content</th>
          <th>Created_at</th>
          <th>Deleted</th>
        </tr>
        <% allNotes.forEach(notes=> {%>
        <tr>
          <td><%= notes.id %></td>
          <td><%= notes.username %></td>
          <td><%= notes.email %></td>
          <td><%= notes.title %></td>
          <td><%= notes.content %></td>
          <td><%= new Date(notes.created_at).toLocaleDateString() %></td>
          <td>
            <button
              data-id="<%= notes.id %>"
              onclick="removeNotesByAdmin(this)"
            >
              Delete
            </button>
          </td>
        </tr>
        <% }); %>
      </table>

      <% } %>
    </div>

    <script src="/admin.js"></script>
  </body>
</html>
